{% extends 'QuestionApp/base.html' %}
{% load static%}

{% block logo%}
    <img class='img1' src="{% static 'QuestionApp/img/1.jpg' %}">
{% endblock%}

{% block header_content%}
    <h1>
    my investigation Questionnaire
    </h1>
{% endblock%}

{% block content%}
<ol>
{% if question_list %}
    {% for q in question_list %}
        <li><a href="{% url 'question_detail' q.pk%}">{{ q.question_text}}</li>
    {% endfor %}
{% else %}
    There is no question published yet.
{% endif %}
</ol>
{% endblock %}